footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(10, 10, 10);
    width: 100%;
    text-align: end;
    box-sizing: border-box;
    
    @include addPadding(10px);

    color: white;
}

#mainFooter 
{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
	margin-top: 40px;
}

#footerNav {
    padding-left: 2%;
    align-self: flex-end;
    
    a {
        font-family: "Arial";
        font-weight: bold;
        text-decoration: none;
        color: white;
    }
}

#copyRight {
    color: white;
    font-size: 16px;
    font-family: "Arial";
    display: flex;
    justify-content: flex-end;
	align-self: flex-end;
	text-align: center;
	margin-left: auto;
    margin-right: 5%;
    width: 200px;
}

#socialMedia {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-left: auto;
    height: 100%;
    width: 100%;
}

#socialMedia img:hover {

	opacity: 75%;
}
