<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Roku Streaming Service</title>
</head>
<body>
    <div class="wrapper">
        <main id="app">
            <header id="mainHeader">
                <img src="images/Roku-Logo.png" alt="Roku Logo">
            </header>
            
        {{{ body }}}
        </main>
    </div>
    <footer id="mainFooter" class="hidden">
        <ul id="socialMedia">
            <a href=><img src="images/Facebook.svg" alt="Facebook"></a>
            <a href=><img src="images/Instagram.svg" alt="Instagram"></a>
            <a href=><img src="images/Twitter.svg" alt="Twitter"></a>
        </ul>
        </div>
        <div id="copyRight"><p>Roku Flashback ⍟ 2021</p></div>
    </footer>
</body>

<script defer type="module" src="scripts/main.js"></script>
</html>
